/***** common *****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/**** header ****/

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: #255ee9;
    height: 60px;
}

.row{
    height: 100%;
    line-height: 60px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.row #logo{
    width: 25%;
    float: left;
}

#logo img{
    vertical-align: middle;
}

.row nav{
    width: 50%;
    float:left;
    text-align: center;
    
}

.row nav li{
    display: inline-block;
    text-align: center;
}

nav li a{
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 20px;
}

.row .accedi{
    width: 25%;
    float: left;
    text-align: right;
}

.button{
    padding: 10px 15px;
    border-radius: 2em;
    text-decoration: none;
}

.white{
    background-color: white;
    color: black;
}

div i{
    padding-right: 10px;
    padding-left: 10px;
}

.black{
    background-color: black;
    color: white;
    margin-left: 30px;
}

.big{
    padding: 15px 20px;
    font-size: 20px;
}

a:hover{
    text-decoration: underline;
}

/***** main *****/

.jumbotron{
    height: 650px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbotron{
    position: relative;
}

.jumbotron .container{
    width: 40%;
    text-align: center;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron h1,
.jumbotron p{
    color: white;
}

.container h1{
    font-size: 60px;
}

.container p{
    font-size: 20px;
    padding: 20px 0;
}



/****** footer ******/

/* debug */

/* .debug .container{
    height: 100%;
    background-color: darkorange;
    border: 1px solid black;
} */

/* .debug header{
    background-color: red;
} */

/* .debug .jumbotron{
    height: 500px;
    background-color: green;
} */

.debug main{
    height: 500px;
    background-color:yellow;
}

.debug footer{
    height: 500px;
    background-color: gray;
}


